<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Here is a list of items <%= user.firstName %> owns:</h1>
    <% user.items.forEach(function(item) { %>
      <li><%= item %></li>
    <% }); %>
    </p>
  </div>
</body>
</html>
